<h1 style="background-color: grey; text-align: center;">Products</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.descripion}}</p>
                          <h5 class="card-title">{{i.price}}</h5>
                          <p class="card-text">{{i.category}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
